@charset "utf-8";

html {width:100%; font-size:10px; line-height:2.6rem;}
body {width:100%; background-color:#0D0D0D; color:#fff; font-size:1.4rem; line-height:2rem; padding-bottom:80px;}
#contents {padding:20px;}

img {width:100%;}
.txtRed {color:#E00A31;}

.btn {width:100%; background:rgba(255, 255, 255, 0.2); border-radius:4px; line-height:4.6rem; height:46px;}
.btn + .btn {margin-top:10px;}
.btn.selected {background:#E00A31;}
.btn-util-menu {font-size:0; width:24px; height:24px; background:url('../images/btn_menu.png') no-repeat; background-size:100% auto;}
.btn-back {font-size:0; width:24px; height:20px; background:url('../images/icons.png') 0 0 no-repeat; background-size:155px auto;}

.list {font-size:0;}
.list a {display:block; width:100%; height:100%;}
.list .tit {display:block; display:-webkit-box; height:40px; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; font-size:1.6rem; font-weight:500; margin-top:10px;}
.list .date {display:block; font-size:1.4rem; line-height:1.4rem; color:rgba(255, 255, 255, 0.5); margin-top:6px;}
.list.card li {display:inline-block; width:calc((100% - 20px) / 2); margin-bottom:40px; vertical-align:top;}
.list.card li:nth-child(2n) {margin-left:20px;}
.list.one-card li + li {margin-top:30px;}
.list.one-card .tit {height:20px; -webkit-line-clamp:1;}
.list.horizontal li + li {margin-top:14px;}
.list.horizontal li a {overflow:hidden; position:relative;}
.list.horizontal img {float:left; width:144px;}
.list.horizontal .info {float:left; width:calc(100% - 154px); vertical-align:middle; position:absolute; right:0; top:50%; transform:translateY(-50%);}
.list.horizontal .tit {height:auto; max-height:40px; margin-top:0;}

h1 {font-size:1.8rem; font-weight:500;}
h2 {font-size:1.8rem; font-weight:700; line-height:1.8rem; margin-bottom:20px;}
section + section {margin-top:50px;}

header {width:100%; height:46px; position:relative;}
header .logo {height:100%; text-align:center;}
header .logo:after {content:''; display:inline-block; height:100%; vertical-align:middle;}
header .logo img {width:132px; height:auto; vertical-align:middle;}
header h1 {text-align:center; line-height:4.6rem;}
header .btn-util-menu {position:absolute; right:20px; top:50%; transform:translateY(-50%);}
header .btn-back {position:absolute; left:20px; top:50%; transform:translateY(-50%);}

#nav {position:fixed; bottom:0; left:0; display:flex; justify-content:space-around; align-items:center; width:100%; height:80px; background-color:#0D0D0D; z-index:9;}
#nav a {display:inline-block; width:46px; height:46px; color:rgba(255,255,255,.5); text-align:center;}
#nav a:before {content:''; display:block; width:26px; height:24px; margin:0 auto; background:url('../images/icon_nav.png') no-repeat; background-size:auto 48px; margin-bottom:6px;}
#nav a.genre:before {background-position:-26px 0;}
#nav a.live:before {background-position:-52px 0;}
#nav a.search:before {background-position:-78px 0;}
#nav a.selected {color:#E00A31;}
#nav a.selected:before {background-position:0 -24px;}
#nav a.selected.genre:before {background-position:-26px -24px;}
#nav a.selected.live:before {background-position:-52px -24px;}
#nav a.selected.search:before {background-position:-78px -24px;}

footer {border-top:1px solid rgba(255,255,255,.1); padding:30px;}
footer .logo {width:126px; margin-bottom:20px;}
footer .links a {display:inline-block; padding:0 13px; border-left:1px solid #fff; line-height:1.4rem;}
footer .links a:first-child {padding:0 13px 0 0; border-left:0;}
footer address {margin-top:10px; color:rgba(255,255,255,.3); font-size:1.3rem; line-height:1.9rem;}
footer .sns-list {margin-top:20px;}
footer .sns-list p {color:rgba(255,255,255,.5); font-size:1.3rem; font-weight:500;}
footer .sns-list ul {width:184px; font-size:0;}
footer .sns-list ul li {display:inline-block; width:36px; height:36px; margin:10px 10px 0 0;}
footer .sns-list ul li a {display:block; width:100%; height:100%; background:url('../images/icon_sns.png') no-repeat; background-size:auto 72px;}
footer .sns-list ul li a.fb {background-position:-36px 0;}
footer .sns-list ul li a.insta {background-position:-72px 0;}
footer .sns-list ul li a.tw {background-position:-108px 0;}
footer .sns-list ul li a.nblog {background-position:0 -36px;}
footer .sns-list ul li a.ntv {background-position:-36px -36px;}
footer .sns-list ul li a.npost {background-position:-72px -36px;}
footer .sns-list ul li a.pod {background-position:-108px -36px;}

.slider-wrap {position:relative;}
.main-slider {position:absolute; bottom:0; left:0; width:100%; z-index:2; background:linear-gradient(179.95deg, rgba(0, 0, 0, 0.4) 9.26%, #000 93.81%);}
.main-slider .slide-info {width:100%; padding:18px 25.65% 18px 20px;}
.main-slider .slide-info .flag {display:inline-block; color:#E00A31; border:1px solid #E00A31; padding:5px 7px; margin-bottom:10px;}
.main-slider .slide-info .tit {font-size:2.4rem; line-height:2.8rem; margin-bottom:6px;}
.main-slider .slide-info .txt {position:relative; opacity:.7; overflow:hidden; line-height:2rem; max-height:6rem;}
.main-slider .slide-info .btn-more {position:absolute; bottom:0; right:0; background-color:#000; border-bottom:1px solid rgba(255,255,255, 0.7);}
.main-slider .slide-info .btn-more:before {content:''; position:absolute; left:-40px; width:40px; height:2rem; background:linear-gradient(90deg, rgba(0,0,0,0.2), #000);}
.main-slider .slide-info .btn-play {position:absolute; right:24px; bottom:24px; font-size:0; width:11.797%;}
.main-slider .swiper-pagination {top:0; bottom:auto;}
.main-slider .swiper-pagination-bullet {background-color:#fff; opacity:.5; margin:0 3px; width:4px; height:4px;}
.main-slider .swiper-pagination-bullet-active {background-color:#E00A31; opacity:1;}

#contents.main {padding:20px 0 20px 20px; overflow:hidden;}
#contents.main .bann-promo {margin:20px 20px 20px 0;}
.bann-promo {margin:20px 0; display:block;}
.main-list:first-child {margin:40px 0 50px;}
.main-list {margin:50px 0;}
.main-list h2 {padding-right:20px;}
.btn-view-all {font-size:1.4rem; font-weight:400; opacity:.5; float:right; vertical-align:middle;}
.main-list ul {white-space:nowrap; font-size:0; overflow-x:auto; overflow-y:hidden; -ms-overflow-style: none;}
.main-list ul::-webkit-scrollbar{display:none;}
.main-list ul li {display:inline-block; width:165px; margin-right:14px; vertical-align:top;}
.main-list ul li a {display:block;}
.main-list ul li .tit {display:block; font-size:1.6rem; font-weight:500; white-space:break-spaces; padding-top:10px;}