@charset "utf-8";

html {width:100%; font-size:10px; line-height:2.6rem;}
html.lock {height:100%; overflow:hidden;}
body {width:100%; background-color:#0D0D0D; color:#fff; font-size:1.4rem; line-height:2rem; transition:all .3s;}
#container {padding:46px 0 80px;}
#contents,
.contents {padding:20px; margin:0 auto;}
.inner {position:relative; width:100%; height:100%;}

.pc {display:none;}

img {width:100%;}
.blind {font-size:0; width:0px; height:0px; overflow:hidden;}
.txt-red {color:#E00A31 !important;}
.txt-gray {color:#868686;}
.fs-12 {font-size:1.2rem; line-height:1.4rem;}
.bg-gray {background:#1E1E1E;}
.ta-center {text-align:center !important;}

.no-pd {padding:0 !important;}
.pb-0 {padding-bottom:0 !important;}
.pl-20 {padding-left:20px !important;}
.mt-20 {margin-top:20px !important;}
.mt-30 {margin-top:30px !important;}

.has-brt {border-top:1px solid #252525; padding-top:20px;}

.btn {display:inline-block; width:100%; background:#3D3D3D; border-radius:4px; line-height:4.4rem; height:44px; padding:0 12px; font-size:1.5rem; transition:all .3s; box-sizing:border-box; text-align:center;}
.btn + .btn {margin-top:10px;}
.btn.selected {background:#E00A31;}
.btn-red {background:#E00A31;}
.btn-white {background:#fff; color:#000}
.btn-small {width:100px; flex:none !important;}
.btn-xsmall {width:auto;}
.btn-group {display:flex;}
.btn-group .btn {flex:1;}
.btn-group .btn + .btn {margin-top:0; margin-left:10px;}
.btn-box {margin:20px 0 14px;}
.btn-box.fix-btm {position:fixed; width:100%; left:0; bottom:0; padding:14px 20px; margin:0; background:#0D0D0D;}

.btn-util-menu {font-size:0; width:24px; height:24px; background:url('../images/btn_menu.png') no-repeat; background-size:100% auto;}
.btn-back {font-size:0; width:24px; height:24px; background:url('../images/icons.png') 0 0 no-repeat; background-size:auto 80px;}
.btn-play {font-size:0; width:53px; height:50px; background:url('../images/icons.png') 0 -26px no-repeat; background-size:auto 80px;}
.btn-search {width:20px; height:20px; font-size:0; background:url('../images/icons.png') -52px -1px no-repeat; background-size:auto 80px;}
.btn-del {width:12px; height:12px; font-size:0; background:url('../images/icons.png') -103px -27px no-repeat; background-size:auto 80px;}
.btn-show-pw {position:absolute; color:#868686; right:14px; top:50%; transform:translateY(-50%); background:#000; padding:0 14px;}
.btn-close {font-size:0; width:24px; height:24px; background:url('../images/icons.png') -24px 0px no-repeat; background-size:auto 80px;}
.icon-play {display:inline-block; width:11px; height:14px; background:url('../images/icons.png') -117px -25px no-repeat; background-size:auto 80px; vertical-align:baseline; margin-right:10px;}
.icon-bill {display:inline-block; width:16px; height:16px; background:url('../images/icons.png') -111px -3px no-repeat; background-size:auto 80px; vertical-align:middle; font-size:0;}

table {width:100%; vertical-align:top; text-align:left; font-size:1.2rem; margin-bottom:14px;}
table th {background:#1E1E1E; padding:12px 15px; border:1px solid #3D3D3D;}
table td {padding:12px 15px; border:1px solid #3D3D3D;}
caption {font-size:0; width:0; height:0; overflow:hidden;}
table.mt-20 + p {font-size:1.2rem;}
p + table {margin-top:14px;}

.ipt-row {position:relative;}
.ipt-row + .ipt-row {margin-top:16px;}
.ipt-row > label,
.label {display:block; margin-bottom:10px; font-size:1.6rem; font-weight:500; color:#fff;}
.ipt-row.flex {display:flex;}
.ipt-row.flex .ipt-row {flex:1; vertical-align:middle; padding:0 5px;}
.ipt-row.flex .ipt-row:first-child {padding:0 5px 0 0;}
.ipt-row.flex .ipt-row:last-child {padding:0 0 0 5px;}
.ipt-row.flex .ipt-row + .ipt-row {margin-top:0;}
.ipt-row.flex input + label {position:relative; top:50%; transform:translateY(-50%);}
.ipt-group .ipt-row + .ipt-row {margin-top:10px;}
.ipt-row.with-btn {overflow:hidden;}
.ipt-row.with-btn .ipt-txt {width:calc(100% - 94px); margin-right:10px; float:left;}
.ipt-row.with-btn .btn {width:84px;}
.ipt-noti {color:#868686; line-height:1.8rem; margin-top:6px;}
p.error {color:#E00A31; margin-top:6px;}

.ipt-txt {width:100%; border:none; background:#000; border:1px solid #252525; line-height:4.2rem; font-size:1.6rem; color:#fff; padding:0 14px;}
.ipt-txt[type="password"] {padding:0 74px 0 14px;}
.ipt-txt.error {border-color:#E00A31;}
textarea {width:100%; border:none; background:#000; border:1px solid #252525; line-height:4.2rem; font-size:1.6rem; color:#fff; padding:0 14px; height:200px;}

input[type='checkbox'],
input[type='radio'] {position:absolute; left:0; top:0; z-index:-1; width:0; height:0; opacity:0; visibility:hidden;}
input[type='checkbox'] + label,
input[type='radio'] + label {display:inline-block; line-height:2rem; height:20px; padding:10px 0; margin-bottom:0; font-weight:400;}
input[type='checkbox'] + label:before {content:''; display:inline-block; width:18px; height:18px; background:url('../images/icon_checkbox.png') 0 0 no-repeat; background-size:auto 18px; vertical-align:middle; margin-right:4px;}
input[type='checkbox']:checked + label:before {background-position:-18px 0;}
input[type='radio'] + label:before {content:''; position:relative; top:-1px; display:inline-block; width:18px; height:18px; background:url('../images/icon_radio.png') 0 0 no-repeat; background-size:auto 18px; vertical-align:middle; margin-right:6px;}
input[type='checkbox'].type2:checked + label:before,
input[type='radio']:checked + label:before {background-position:-18px 0;}
input[readonly] {background:#252525;}
.ipt-row label + input + label {margin-left:16px;}
/* .ipt-row input[type='checkbox'] + label, 
.ipt-row input[type='radio'] + label {padding:4px 0 10px;} */
input[type='checkbox'].btn + label,
input[type='radio'].btn + label {width:100%; background:#3D3D3D; border-radius:4px; line-height:4.4rem; height:44px; padding:0 12px; font-size:1.5rem; box-sizing:border-box; margin-bottom:10px; text-align:center; font-weight:700;}
input[type='checkbox'].btn + label:before,
input[type='radio'].btn + label:before {content:none;}
input[type='checkbox']:checked.btn + label,
input[type='radio']:checked.btn + label {background:#fff; color:#000;}
input[type='checkbox'].type2 + label:before {content:''; display:inline-block; width:18px; height:18px; background:url('../images/icon_check.png') 0 0 no-repeat; background-size:auto 18px; vertical-align:middle; margin-right:10px;}
input[type='checkbox'].btn:disabled + label, 
input[type='radio'].btn:disabled + label {background:#252525; color:#868686;}
input[type='checkbox'].toggle + label {position:relative; width:100%;}
input[type='checkbox'].toggle + label:before {content:none;}
input[type='checkbox'].toggle + label .toggle {position:relative; float:right; width:40px; height:24px; background:#3D3D3D; border-radius:12px; vertical-align:middle; margin-top:-1px;}
input[type='checkbox'].toggle + label .toggle:before {content:''; position:absolute; left:1px; top:1px; width:22px; height:22px; border-radius:12px; background:#fff; transition:all .4s;}
input[type='checkbox']:checked.toggle + label .toggle {background:#E00A31;}
input[type='checkbox']:checked.toggle + label .toggle:before {left:17px;}


.list {font-size:0; width:100%;}
.list a {display:block; width:100%; height:100%;}
.list .tit {display:block; display:-webkit-box; line-height:1.8rem; height:36px; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; font-size:1.5rem; font-weight:500; margin-top:10px;}
.list .date {display:block; font-size:1.2rem; line-height:1.2rem; color:#868686; margin-top:6px;}
.list.card li {display:inline-block; width:calc((100% - 20px) / 2); margin-bottom:40px; vertical-align:top;}
.list.card li:nth-child(2n) {margin-left:20px;}
.list.one-card li + li {margin-top:30px;}
.list.one-card .tit {height:20px; -webkit-line-clamp:1;}
.list.horizontal li + li {margin-top:14px;}
.list.horizontal li a {overflow:hidden; position:relative;}
.list.horizontal img {float:left; width:144px;}
.list.horizontal .info {float:left; width:calc(100% - 154px); vertical-align:middle; position:absolute; padding-left:10px; top:50%; transform:translateY(-50%);}
.list.horizontal .tit {height:auto; max-height:40px; margin-top:0;}

.list-tit {padding-top:10px; font-size:1.3rem; font-weight:700; margin-top:10px;}
.list-tit + ul {margin-top:10px;}
.dot-list li {position:relative; padding-left:16px;}
.dot-list li:before {content:''; display:inline-block; width:3px; height:3px; background:#B6B6B6; border-radius:3px; position:absolute; left:7px; top:8px;}

.list.text li {border-top:1px solid #252525;}
.list.text li:last-child {border-bottom:1px solid #252525;}
.list.text li a {display:block; position:relative; padding:16px 0;}
.list.text li a:before {content:''; position:absolute; top:50%; right:0; transform:translateY(-50%); width:5px; height:10px; background:url('../images/icons.png') -83px -6px no-repeat; background-size:auto 80px;}
.list.text .tit {max-height:35px; height:auto; margin:0; padding-right:50px;}
.list.text.accordion li {padding:0; border-top:0; border-bottom:1px solid #252525;}
.list.text.accordion li.open {padding:0 0 20px;}
.list.text.accordion .tit {position:relative; display:block; width:100%; padding:20px 40px 20px 0; cursor:pointer; line-height:2rem; max-height:none; box-sizing:border-box;}
.list.text.accordion .tit:before {content:''; position:absolute; top:50%; right:5px; margin-top:-6px; width:12px; height:12px; background:url('../images/icon_acc.png') no-repeat; background-size:auto 12px;}
.list.text.accordion li.open .tit {padding:20px 40px 10px 0;}
.list.text.accordion li.open .tit:before {transform:rotate(-180deg); margin-top:-1px;}
.list.text.accordion .conts {display:block; height:0; font-size:1.4rem; padding-right:40px; color:#868686; line-height:1.8rem; overflow:hidden;}
.list.text.accordion li.open .conts {height:auto;}

.list.menu a {display:block; position:relative; padding:15px 0; font-size:1.6rem;}
.list.menu a:before {content:''; position:absolute; top:50%; right:0; transform:translateY(-50%); width:5px; height:10px; background:url('../images/icons.png') -83px -6px no-repeat; background-size:auto 80px;} 

.pagination {display:none; text-align:center; margin-top:40px; font-size:0;}
.pagination a {display:inline-block; width:20px; height:20px; font-size:1.6rem; line-height:2rem; vertical-align:middle;}
.pagination a + a {margin-left:10px;}
.pagination a.selected {color:#E00A31;}

.board-detail .title {position:relative; border-top:1px solid #252525; padding:16px 0;}
.board-detail .title p {font-size:1.6rem;}
.board-detail .title span {font-size:1.2rem; color:#868686; margin-top:6px;}
.board-detail .conts {border-top:1px solid #252525; padding:16px 0; font-size:1.3rem;}
.board-detail span.status {position:absolute; right:0; top:50%; transform:translateY(-50%); font-size:1.4rem; margin-top:0;}
.board-detail.qna .title {padding-right:50px;}
.board-detail.qna .conts {border-bottom:1px solid #252525;}
.board-detail.qna .conts .tit {font-weight:700; margin-bottom:8px;}

.inner-menu {display:none; font-size:0; padding-bottom:40px; border-bottom:1px solid #252525;}
.inner-menu li {display:inline-block; vertical-align:top;}
.inner-menu li + li {margin-left:40px;}
.inner-menu li a {display:inline-block; font-size:2rem; font-weight:500; vertical-align:middle;}
.inner-menu a.selected,
.inner-menu.type2 a.selected {color:#E00A31;}
.inner-menu.type2 {display:block; text-align:center; width:calc(100% + 40px); transform:translateX(-20px); margin-bottom:20px; padding:10px 20px; white-space:nowrap; overflow-y:scroll; border-bottom:0;}
.inner-menu.type2 li + li {margin-left:30px;}
.inner-menu.type2 a {font-size:1.4rem; color:#B6B6B6;}


.flag {display:inline-block; color:#E00A31; border:1px solid #E00A31; padding:5px 7px; margin-bottom:10px; font-size:1.3rem; line-height:1.3rem;}
.flag + .flag {margin-left:6px;}

h1 {font-size:1.8rem; font-weight:500;}
h2 {font-size:1.8rem; font-weight:700; line-height:1.8rem; margin:0 0 20px;}
h3 {font-size:1.4rem; margin:30px 0 14px;}
h3:first-child {margin:0 0 14px;}
section + section {margin-top:50px;}
.page-title {display:none;}

header {position:fixed; left:0; top:0; width:100%; height:46px; background:#0D0D0D; z-index:99;}
.menu-header {position:absolute; left:0; top:0; width:100%; height:46px; background:#0D0D0D;}
header .logo {display:none; height:100%; text-align:center;}
header .logo:after {content:''; display:inline-block; height:100%; vertical-align:middle;}
header .logo img {width:175px; height:auto; vertical-align:middle;}
header h1,
header h1 .logo {display:block;}
header h1,
.menu-header .tit {font-size:1.8rem; text-align:center; line-height:4.6rem;}
header .btn-util-menu {position:absolute; right:20px; top:50%; transform:translateY(-50%);}
header .btn-back {position:absolute; left:20px; top:50%; transform:translateY(-50%);}
header .btn-close {position:absolute; right:20px; top:50%; transform:translateY(-50%);}
.menu-header .btn-close {position:absolute; right:20px; top:50%; transform:translateY(-50%);}

#menu {position:fixed; right:-100%; top:0; width:100%; height:100%; background:#0D0D0D; z-index:99; transition:all .3s; overflow-y:scroll;}
#menu.open {right:0;}
#menu .contents {padding-top:46px;}
#menu .account-util {padding:0 0 30px;}
#menu .account-util .txt {text-align:left; padding-top:0; color:#fff;}
#menu .account-util button {margin:20px 0 0;}
#menu .account-util .name {text-align:left; color:#fff; margin-top:16px; font-size:1.6rem;}
#menu .account-util .name em {font-size:2rem;}
#menu .account-util .subs-box {background:#252525; margin-top:16px; font-size:1.4rem; text-align:left; padding:15px 14px;}
#menu .account-util .subs-box dt {display:inline-block; font-weight:700; padding-right:14px;}
#menu .account-util .subs-box dd {display:inline-block; width:calc(100% - 85px); text-align:right;}
#menu .links a {position:relative; display:block; padding:15px 0; font-size:1.6rem; line-height:1.6rem;}
#menu .links a:after {content:''; position:absolute; right:0; top:50%; transform:translateY(-50%); width:12px; height:12px; background:url('../images/icons.png') -77px -5px no-repeat; background-size:auto 80px;}

#nav {position:fixed; bottom:0; left:0; display:flex; justify-content:space-around; align-items:center; width:100%; height:80px; background-color:#0D0D0D; z-index:9;}
#nav a {display:inline-block; width:46px; height:46px; color:#868686; text-align:center;}
#nav a:before {content:''; display:block; width:26px; height:24px; margin:0 auto; background:url('../images/icon_nav.png') no-repeat; background-size:auto 48px; margin-bottom:6px;}
#nav a.genre:before {background-position:-26px 0;}
#nav a.live:before {background-position:-52px 0;}
#nav a.search:before {background-position:-78px 0;}
#nav a.selected {color:#E00A31;}
#nav a.selected:before {background-position:0 -24px;}
#nav a.selected.genre:before {background-position:-26px -24px;}
#nav a.selected.live:before {background-position:-52px -24px;}
#nav a.selected.search:before {background-position:-78px -24px;}

footer {border-top:1px solid rgba(255,255,255,.1); padding:30px;}
footer .logo {width:126px; margin-bottom:20px;}
footer .links a {display:inline-block; padding:0 13px; border-left:1px solid #fff; line-height:1.4rem;}
footer .links a:first-child {padding:0 13px 0 0; border-left:0;}
footer address {margin-top:10px; color:#555; font-size:1.3rem; line-height:1.9rem;}
footer .sns-list {margin-top:20px;}
footer .sns-list p {color:#868686; font-size:1.3rem; font-weight:500;}
footer .sns-list ul {width:184px; font-size:0;}
footer .sns-list ul li {display:inline-block; width:36px; height:36px; margin:10px 10px 0 0;}
footer .sns-list ul li a {display:block; width:100%; height:100%; background:url('../images/icon_sns.png') no-repeat; background-size:auto 72px;}
footer .sns-list ul li a.fb {background-position:-36px 0;}
footer .sns-list ul li a.insta {background-position:-72px 0;}
footer .sns-list ul li a.tw {background-position:-108px 0;}
footer .sns-list ul li a.nblog {background-position:0 -36px;}
footer .sns-list ul li a.ntv {background-position:-36px -36px;}
footer .sns-list ul li a.npost {background-position:-72px -36px;}
footer .sns-list ul li a.pod {background-position:-108px -36px;}

.slider-wrap {position:relative;}
.main-slider {position:absolute; bottom:0; left:0; width:100%; z-index:2; background:linear-gradient(179.95deg, rgba(0, 0, 0, 0.4) 9.26%, #000 93.81%);}
.main-slider .slide-info {width:100%; padding:20px 140px 20px 20px;}
.main-slider .slide-info .tit {font-size:2.4rem; line-height:2.8rem; margin-bottom:6px;}
.main-slider .slide-info .txt {display:block; display:-webkit-box; height:40px; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; color:#B6B6B6;}
.main-slider .slide-info .btn {position:absolute; width:100px; right:20px; bottom:20px; font-size:1.5rem; font-weight:700;}
.main-slider .swiper-pagination {top:0; bottom:auto;}
.main-slider .swiper-pagination-bullet {background-color:#fff; opacity:.5; margin:0 3px; width:4px; height:4px;}
.main-slider .swiper-pagination-bullet-active {background-color:#E00A31; opacity:1;}

.main {padding:20px 0 20px 20px; overflow:hidden;}
.main .bann-promo {width:calc(100% - 20px);}
.bann-promo {display:block; margin:20px 0; text-align:center;}
.bann-promo img {max-width:640px;}

.main-list {margin:50px 0;}
.main-list:first-child {margin:40px 0 50px;}

.main-list-swiper .swiper-button-prev {left:0;}
.main-list-swiper .swiper-button-next {right:0;}

.main-list h2 {padding-right:20px;}
.btn-txt {font-size:1.4rem; font-weight:400; color:#868686; float:right; vertical-align:middle;}
.main-list ul li {width:165px; vertical-align:top; transition:all .3s;}
.main-list ul li + li {margin-left:14px;}
.main-list ul li a {display:block;}
.main-list ul li .tit {display:block; font-size:1.6rem; font-weight:500; white-space:break-spaces; padding-top:10px;}
.no-conts {background:#1E1E1E; padding:28px 0; text-align:center; font-weight:500; line-height:1.8rem;}
.no-result {text-align:center; font-size:1.5rem; line-height:1.8rem; color:#B6B6B6;}

.preview-area {position:relative;}
.preview-area:before {content:''; position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,.7); z-index:1;}
.preview-area:after {content:'미리보기'; position:absolute; left:20px; top:20px; z-index:3; font-size:1.2rem;}
.preview-area.no-preview:after {content:none;}
.preview-area .preview {width:100%;}
.preview-area .btn-play {position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); z-index:2;}
.show .btn-group {margin-bottom:20px;}
.show .top {font-size:0; padding-bottom:20px;}
.show .top img {display:inline-block; width:90px; margin-right:14px;}
.show .top .txt {display:inline-block; width:calc(100% - 104px);}
.show .top .flag {font-size:1.2rem; line-height:1.2rem;}
.show .top .tit {font-size:2rem; font-weight:700; line-height:2.4rem; display:-webkit-box; height:48px; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis;}
.show .top .price {display:inline-block; font-size:1.4rem; margin-top:6px; color:#B6B6B6;}
.show .info {padding-top:20px; border-top:1px solid #252525; }
.type span {display:inline-block; width:30px; height:30px; vertical-align:middle; background:url('../images/icon_types.png') no-repeat; background-size:auto 30px; font-size:0;}
.type span + span {margin-left:4px;}
.type .all {background-position:0 0;}
.type .subject {background-position:-30px 0;}
.type .violence {background-position:-60px 0;}
.type .horror {background-position:-90px 0;}
.show .info .type + dl {margin-top:14px;}
.show .info dl {font-size:0; color:#B6B6B6;}
.show .info dl dt {display:inline-block; width:70px; font-size:1.4rem; font-weight:700; margin-right:10px; margin-bottom:10px;}
.show .info dl dd {display:inline-block; width:calc(100% - 80px); font-size:1.4rem; margin-bottom:10px;}
.show .info dl dt.desc {display:block; margin-top:10px;}
.show .info dl dt.desc + dd {display:block; width:100%;}

.ipt-search {position:relative; margin-bottom:20px;}
.ipt-search .ipt-txt {padding-left:44px;}
.ipt-search .btn-search {position:absolute; left:14px; top:50%; transform:translateY(-50%); z-index:1;}
.ipt-search .btn-del {display:none; position:absolute; right:14px; top:50%; transform:translateY(-50%); z-index:1;}

.login-box .sns-login h2 {margin:20px 0 10px;}

.account-util {padding:24px 0 30px; text-align:center; color:#868686; font-size:0; border-bottom:1px solid #252525; margin-bottom:20px;}
.account-util > a {color:#868686; font-size:1.5rem; line-height:1.5rem; margin-right:12px;}
.account-util > a + a:before {content:''; display:inline-block; width:1px; height:14px; background:#868686; margin-right:12px;}
.account-util p {margin-top:7px; font-size:1.4rem;}
.account-util p a {display:inline-block; font-size:1.5rem; color:#fff; text-decoration:underline; vertical-align:baseline; padding-left:2px;}

.join-agree {font-size:1.2rem; line-height:1.4rem;}
.join-agree table {margin:14px 0;}
.join-agree .btn-box {margin-top:30px; border-top:1px solid #3D3D3D; padding:20px 0 10px;}
.txt-box {padding:14px 0; text-align:right; font-size:1.4rem; line-height:1.8rem;}
.txt-box label {padding:0; margin-top:6px;}
.txt-box label + input + label {margin-left:20px;}
.txt-box.bg-gray {padding:14px 16px; font-size:1.3rem; line-height:1.8rem;}
.txt-box.bg-gray label {padding:0; font-size:1.6rem;}
.txt-box p {text-align:left;}
.terms-box {border:1px solid #3D3D3D;}
.terms-box .terms {width:100%; height:195px; overflow-y:scroll;}
.terms-box .summary {border-top:1px solid #3D3D3D;}
.terms-box pre {white-space:pre-wrap; padding:14px; font-size:1.2rem; line-height:1.4rem;}
.terms-box button {font-size:1rem; line-height:1rem; line-height:2.6rem; height:26px; font-weight:500;  margin:0 0 14px 14px;}
.ipt-row + .txt-box {margin-top:20px;}

.subscribe .box {background:#1E1E1E; text-align:center; padding:30px; margin-bottom:20px;}
.subscribe .box .status {position:absolute; left:50%; top:0; transform:translateX(-50%); font-size:1.6rem; font-weight:500;}
.subscribe .box .subs {position:relative; font-size:2rem; font-weight:500; margin-bottom:14px; padding-top:30px;}
.subscribe .box .info {font-size:1.8rem; margin-bottom:12px;}
.subscribe .box .info span {display:block; font-size:1.3rem; color:#868686; margin-top:4px;}
.subscribe .box .btn-xsmall {font-size:1rem; font-weight:500; line-height:2.6rem; height:26px; margin-top:10px;}
.subscribe .box .txt {font-size:1.2rem; text-align:left; color:#868686;}
.subscribe .box .txt em {text-decoration:underline; color:#fff;}
.subscribe .list-head {display:none;}
.subscribe .list {border-top:1px solid #252525;}
.subscribe .list li {color:#868686; border-bottom:1px solid #252525; padding:20px 10px; font-size:0;}
.subscribe .list li.in-use {color:#fff;}
.subscribe .list li .status {font-size:1.6rem; display:inline-block; width:55px; vertical-align:top; padding-right:10px;}
.subscribe .list li .info {display:inline-block; width:calc(100% - 65px);}
.subscribe .list li .info .subs {font-size:1.6rem; font-weight:500; margin-bottom:10px;}
.subscribe .list li .info .icon-bill {margin:-1px 0 0 10px;}
.subscribe .list li .info dl {line-height:1.4rem;}
.subscribe .list li .info dt {font-size:1.2rem; display:inline-block; width:55px; padding-right:10px; margin-bottom:6px; vertical-align:top;}
.subscribe .list li .info dd {font-size:1.2rem; display:inline-block; width:calc(100% - 65px); margin-bottom:6px;}
.subscribe.buy .txt {text-align:center; padding:10px 0 30px; color:#B6B6B6;}
.subscribe.buy .txt span {display:block; font-size:1.8rem; font-weight:700; color:#fff; padding-bottom:10px;}
.subscribe.buy .box {margin:0 20px 20px; background:#1E1E1E; border:1px solid #3D3D3D; border-radius:4px;}
.subscribe.buy .box .subs {padding-top:0;}
.subscribe.buy .box .info {margin:17px 0 20px; color:#B6B6B6;}
.subscribe .dot-list {font-size:1.2rem; line-height:1.6rem; color:#B6B6B6;}
.subscribe.buying .box {text-align:left; border:none; margin:0 0 20px; padding:20px;}
.subscribe.buying .box .title {font-size:1.6rem; font-weight:500; margin-bottom:8px;}
.subscribe.buying .box dl {font-size:0; line-height:1.4rem;}
.subscribe.buying .box dt {display:inline-block; width:100px; font-size:1.4rem; color:#868686; padding-right:20px; vertical-align:top; margin-top:12px;}
.subscribe.buying .box dd {display:inline-block; width:calc(100% - 100px); font-size:1.4rem; vertical-align:top; margin-top:12px;}
.subscribe.buying .ipt-row.flex .ipt-txt + .ipt-txt {margin-left:10px;}

.info-box {width:calc(100% + 40px); background:#1E1E1E; padding:14px 20px; font-size:0; transform:translateX(-20px); margin-bottom:30px;}
.info-box > li + li { margin-top:20px;}
.info-box .tit {display:block; font-size:1.4rem; font-weight:500; color:#868686; margin-bottom:6px; line-height:1.4rem;}
.info-box .txt {display:block; font-size:1.6rem;}
.info-box li.half {display:inline-block; width:50%;}
p.info-box {font-size:1.6rem;}
.info-box .sub-txt {font-size:1.3rem; color:#868686;}

* + .chk-list {margin-top:14px;}
.chk-list {font-size:1.4rem;}
.chk-list .btn-txt {color:#fff; font-size:1.1rem;}
.chk-list li + li {margin-top:14px;}
.chk-list input[type='checkbox'] + label {padding:0;}
.chk-list input[type='checkbox'].type2 + label:before {margin-right:10px;}

.modal-wrap {display:none; position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.7); z-index:10000;}
.modal {position:absolute; width:72%; left:50%; top:50%; transform:translate(-50%, -50%); background:#252525; border-radius:5px; overflow:hidden;}
.modal .btn-close {position:absolute; right:40px; top:40px;}
.modal-title {padding:70px 30px 30px;}
.modal-cont {font-size:1.4rem; padding:30px;}

.setting-box {padding:20px 0;}
.setting-box .tit {font-size:1.5rem; padding:0 20px; margin-bottom:10px;}
.setting-box * + .tit {margin-top:30px;}
.setting-box .ipt-row {background:#1E1E1E; padding:0 20px; line-height:4.8rem;}
.setting-box dl {background:#1E1E1E; padding:14px 20px; font-size:0;}
.setting-box dt {display:inline-block; width:100px; font-size:1.6rem; vertical-align:middle; line-height:2rem;}
.setting-box dd + dt {margin-top:10px;}
.setting-box dd {display:inline-block; width:calc(100% - 100px); text-align:right; font-size:1.3rem; color:#868686; vertical-align:middle; line-height:2rem;}
.setting-box dd + dt + dd {margin-top:10px;}

.qna .txt-box p {font-size:1.3rem; line-height:1.6rem;}
.qna .list.text a:before {content:none;}
.qna .list.text .tit {overflow:visible; text-overflow:initial; height:auto; max-height:none; -webkit-line-clamp:initial;}
.qna .list.text .status {position:absolute; right:0; top:50%; transform:translateY(-50%); font-size:1.4rem;}
.qna h3 {padding-top:20px; border-top:1px solid #252525; margin-top:20px;}
.btn-box .btn.pc {display:none;}

.main-list-wrap .swiper-button-next, 
.main-list-wrap .swiper-button-prev {display:none;}

section.terms h3 {font-size:1.6rem;}
section.terms .txt {width:100%; white-space:pre-wrap; word-break:break-all; font-size:1.2rem; line-height:1.4rem;}

.find .txt-box {padding:26px 16px;}
.find .txt-box p {font-size:2rem; font-weight:500; line-height:2rem; padding:14px 0;}

@media only screen and (min-width:960px){
    body {font-size:1.8rem; line-height:2.8rem;}
    header {height:100px; border-bottom:1px solid #3D3D3D;}
    #container {max-width:1280px; min-height:1040px; margin:0 auto; padding:100px 20px 80px;}
    #container.main {max-width:1380px;}
    #contents {padding:70px 00px 0;} 
    .main #contents {padding:80px 0 0;}
    .w1220 {max-width:1220px; margin:0 auto;}
    .w960 {max-width:960px; margin:0 auto;}
    .w620 {max-width:620px; margin:0 auto;}
    .inner {max-width:1280px; margin:0 auto;}

    .pc {display:block;}

    .ipt-row + .ipt-row {margin-top:30px;}
    .ipt-row.with-btn .ipt-txt {width:calc(100% - 120px);}     
    .ipt-txt {font-size:1.6rem; padding:0 16px;}
    .ipt-row > label, 
    .label {font-size:1.8rem;}
    input[type='checkbox'] + label:before,
    input[type='radio'] + label:before {width:20px; height:20px; background-size:auto 20px;}
    input[type='checkbox']:checked + label:before,
    input[type='radio']:checked + label:before {background-position:-20px 0;}
    
    .ipt-noti {font-size:1.4rem;}
    p.error {font-size:1.4rem;}
    
    .btn-box.type2 {font-size:0; margin-bottom:0;}
    .btn-box.type2 input[type='checkbox'].btn + label {width:300px; margin-bottom:20px; line-height:6rem; height:60px; font-size:1.6rem;}
    .btn-box.type2 input[type='checkbox'].btn + label:nth-child(4n) {margin-left:20px;}

    .btn-box.fix-btm {position:relative; padding:0;}

    .btn-txt {font-size:1.6rem;}
    .btn-play {width:86px; height:86px; background:url('../images/icons.png') 0 -43px no-repeat; background-size:auto 134px;}
    .btn-search {width:24px; height:24px; background:url('../images/icons.png') -58px -1px no-repeat; background-size:auto 90px;}
    .btn-show-pw {font-size:1.4rem;}
    .ipt-row.with-btn .btn {width:110px;}
    .icon-bill {width:20px; height:20px; background:url('../images/icons.png') -127px -3px no-repeat; background-size:auto 92px;}
    
    .ipt-search .btn-search {left:20px;}
    .ipt-search .ipt-txt {line-height:5.8rem; font-size:2rem; padding:0 20px 0 56px;}    
    textarea {height:380px;}

    .page-title {display:block; font-size:3rem; margin-bottom:40px;}
    h2 {font-size:2.4rem; line-height:100%; margin:0 0 30px;}
    form h2 {margin:0 0 40px;}
    h3 {font-size:2rem; margin:50px 0 12px; line-height:100%;}

    table {font-size:1.6rem;}
    table.mt-20 + p {font-size:1.5rem;}

    header .inner {width:calc(100% - 40px);}
    header .logo {display:inline-block;}
    header h1 {display:none;}
    #nav {position:initial; display:inline-block; width:auto; height:auto; font-size:0; margin-left:116px; vertical-align:middle;}
    #nav a {width:auto; height:auto; font-size:1.8rem; color:#fff; font-weight:500; margin-right:40px; line-height:1.8rem; vertical-align:middle;}
    #nav a:before {content:none;}
    #nav a.search {position:absolute; right:64px; top:50%; transform:translateY(-50%); font-size:0; width:24px; height:24px; margin-right:0; background:url('../images/icons.png') -105px -43px no-repeat; background-size:auto 80px;}
    header .btn-util-menu {right:0;}
    header .btn-back {display:none;}

    footer {padding:50px 0;}
    footer .inner {padding:0 20px;}
    footer .logo {display:inline-block; width:150px; margin:0 15% 0 0; vertical-align:top;}
    footer .info-wrap {display:inline-block; width:440px; vertical-align:top;}
    footer address {font-size:1.6rem; line-height:2.4rem;}    
    footer .sns-list {position:absolute; margin-top:0; right:20px; top:0;}
    footer .sns-list p {font-size:1.6rem;}

    .flag {font-size:1.6rem; line-height:1.6rem;}    

    .main .bann-promo {max-width:1280px; text-align:center; margin:20px auto;}
    .bann-promo img {max-width:none; width:auto; height:140px;}

    .main-slider .slide-info {padding:40px 320px 40px 40px;}
    .main-slider .slide-info .tit {font-size:3.4rem; line-height:4.2rem;}
    .main-slider .slide-info .txt {height:52px;}
    .main-slider .slide-info .btn {width:230px; right:40px; bottom:40px;}
    
    .scroll-wrap {margin:0 30px;}

    .main-list h2 {padding:0 60px;}
    .main-list {position:relative; margin:80px 0; }
    .main-list ul li {width:200px;}
    .main-list ul li + li {margin-left:20px;}
    .main-list ul li .tit {font-size:2rem;}

    .list-tit {font-size:1.8rem;}
    .subscribe .dot-list {font-size:1.5rem; line-height:2.2rem;}

    .list.card li {width:275px; margin:0 40px 60px 0;}
    .list.card li:nth-child(2n) {margin-left:0;}
    .list.card li:nth-child(4n) {margin:0 0 60px 0;}
    .list .tit {font-size:2rem; line-height:2.5rem; height:50px;}
    .list .date {font-size:1.6rem; margin-top:8px;}

    .list.horizontal li {display:inline-block; width:calc((100% - 40px) / 2);}
    .list.horizontal li:nth-child(2n) {margin-left:40px;}
    .list.horizontal img {width:288px;}
    .list.horizontal .info {width:calc(100% - 288px); padding-left:20px; top:15px; transform:translateY(0);}
    .list.horizontal .tit {max-height:50px;}

    .no-conts {width:500px; margin:0 auto; font-size:2rem; padding:35px 0; line-height:2rem;}

    .show {margin-top:-50px;}
    .show .top {position:relative; padding-bottom:8px;}
    .show .top img {width:198px; margin-right:32px;}
    .show .top .txt {width:calc(100% - 230px); padding:16px 0;}
    .show .top .flag {font-size:1.6rem; line-height:1.6rem;}
    .show .top .tit {font-size:3.4rem; line-height:4.6rem;}
    .show .top .price {font-size:2.4rem; margin-top:12px;}
    .show .btn-group {position:absolute; bottom:16px; left:230px; width:360px;}
    .show .info {padding-top:30px; margin-left:230px;}
    .type span {width:50px; height:50px; background-size:auto 50px;}
    .type span + span {margin-left:10px;}
    .type .subject {background-position:-50px 0;}
    .type .violence {background-position:-100px 0;}
    .type .horror  {background-position:-150px 0;}
    .show .info .type + dl {margin-top:20px;}
    .show .info dl dt {margin-right:40px; margin-bottom:20px; font-size:1.8rem;}
    .show .info dl dd {width:calc(100% - 110px); margin-bottom:20px; font-size:1.8rem;} 
    .show .info dl dt.desc {margin:20px 0 10px;}

    .ipt-search {width:480px; margin:0 auto 20px;}
    .no-result {font-size:1.8rem;}
    .no-result br {display:none;}

    .login-box {position:relative; background:#1E1E1E; padding:80px 90px;}
    .login-box form {width:350px;}    
    .account-util {width:350px; padding:24px 0 0; margin-bottom:0; border-bottom:0;}
    .login-box .sns-login {position:absolute; right:90px; top:80px; width:390px; border-left:1px solid #3D3D3D; padding:0 0 58px 40px;}
    .login-box .sns-login h2 {margin:0 0 20px; font-size:1.8rem;}
    .login-box .sns-login button + h2 {margin:40px 0 20px;}

    .join-agree {font-size:1.5rem; line-height:2rem;}    
    .txt-box {font-size:1.8rem; text-align:left; padding:20px 0; margin-bottom:10px;}
    .txt-box p {display:inline-block; margin:0; font-size:1.8rem; line-height:2rem;}
    .txt-box p + input + label {margin-left:50px;}
    .txt-box.bg-gray {text-align:center; padding:30px 40px;}    
    .terms-box .terms {height:360px;}
    .terms-box pre {font-size:1.5rem; line-height:2rem; padding:20px;}
    .terms-box button {width:119px; height:39px; font-size:1.5rem; line-height:100%; margin:0 0 20px 20px;}
    .txt-box label {margin:0 20px 0 0; font-size:2rem; padding:0 !important;}
    .txt-box label + input + label {margin-left:0;}
    section .btn-box {width:100%; border-top:0; overflow:hidden; margin-top:50px; text-align:right;}
    section .btn-box .btn {width:130px;}
    section .btn-box .btn + .btn {margin-left:10px;}
    section .btn-box .btn-xsmall {width:90px;}

    .find,
    .real-auth {position:relative;}    
    .real-auth .btn-box {display:flex; margin:70px auto 0; width:620px;}
    .find .btn-box .btn,
    .real-auth .btn-box .btn {margin-top:0; height:60px; line-height:6rem; font-size:1.6rem; font-weight:500; flex:1;}
    .find .btn-box .btn + .btn,
    .real-auth .btn-box .btn + .btn {margin-left:20px;}
    .real-auth .txt-box.bg-gray {position:absolute; top:175px; left:50%; margin-left:-310px; background:none; font-size:1.6rem; color:#868686; width:620px; padding:0;}
    .real-auth .txt-box.bg-gray p {line-height:2.4rem;}

    .find {margin:0 auto;}
    .find .txt-box {font-size:2rem; background:none;}
    .find .txt-box p {display:inline-block; margin:0; font-size:2.8rem; padding:0 3px 0 8px;}
    .find .txt-box + p {position:absolute; width:620px; top:338px; left:50%; transform:translateX(-50%); font-size:1.6rem; color:#868686;}
    .find .btn-box {display:flex; margin:40px auto 0; width:620px;}

    .join .txt-box.bg-gray {background:none; padding:0; margin-bottom:50px;}
    .join .txt-box.bg-gray p {font-size:1.5rem; line-height:2.4rem;}

    .my-genres .btn-box + p {font-size:1.5rem; margin-bottom:50px;}
    
    .subscribe .box .subs {font-size:2.8rem;}
    .subscribe .box .subs .status {font-size:2rem;}
    .subscribe .box .info {font-size:2.4rem;}
    .subscribe .box .info span {font-size:1.8rem;}
    .subscribe .box .inner + p {font-size:1.8rem;}

    .subscribe .list-head span,
    .subscribe .list li .info .subs,
    .subscribe .list li .info dl dd {font-size:2rem;}

    .modal-title {font-size:3rem; padding:70px;}
    .modal-cont {padding:0 70px 70px;}
    .modal-cont .subscribe.buy .list-tit {margin-top:60px;}
    
    .subscribe.buy.buying {text-align:left;}
    .subscribe.buy.buying .txt {padding:0 0 40px; font-size:1.6rem; color:#868686;}
    .subscribe.buy.buying .txt span {font-size:2.4rem; color:#fff;}
    .subscribe.buy.buying .box {width:100%; padding:30px;}
    .subscribe.buying .box .title {font-size:2rem; margin-bottom:14px;}
    .subscribe.buying .box dt {font-size:1.8rem; margin-top:16px; width:120px; line-height:1.8rem;}
    .subscribe.buying .box dd {font-size:1.8rem; margin-top:16px; width:calc(100% - 120px); line-height:1.8rem;}
    .subscribe.buying form {border-top:none; padding-top:0; margin-top:40px;}
    .subscribe.buy.buying .list-tit {margin-top:40px;}
    .subscribe.buying .btn-box {text-align:center;}
    .subscribe.buying .btn-white {width:300px; float:none;}
    
    * + .chk-list {margin-top:40px;}

    .my-info {overflow:hidden;}
    .my-info h2 {float:left; width:300px; font-size:2rem; vertical-align:top; padding-top:16px;}
    .my-info h2 .btn-txt {display:block; width:100%; margin-top:16px; font-size:1.8rem;}
    .my-info .info-box {float:left; width:calc(100% - 300px); padding:30px; transform:none; vertical-align:top;}
    .info-box > li + li {margin-top:30px;}
    .info-box .tit {margin-bottom:10px; font-size:1.8rem; line-height:100%;}
    p.info-box,
    .info-box .txt {font-size:2rem; line-height:100%;}
    .info-box .sub-txt {font-size:1.8rem;}
    .chk-list {font-size:2rem;}
    
    .board-detail .title {padding:30px 0; font-size:0;}
    .board-detail .title p {display:inline-block; width:calc(100% - 100px); font-size:1.8rem;}
    .board-detail .title .date {display:inline-block; width:100px; text-align:right; font-size:1.6rem; margin-top:0;}
    .board-detail .conts {font-size:1.6rem; line-height:2.6rem; padding:30px 0; border-bottom:1px solid #252525;}

    .inner-menu {display:block;}
    .inner-menu.gray-bg {padding:30px 0;}
    .inner-menu.type2 {padding:30px 50px; width:100%; transform:none; line-height:1.6rem; margin-bottom:40px;} 
    .inner-menu.type2 li + li {margin-left:40px;}
    .inner-menu.type2 a {font-size:1.6rem;}

    .board-detail.qna .title {padding:30px 0;}
    .board-detail.qna .status {right:110px; margin-top:-2px;}
    .board-detail.qna .date {right:0;}
    
    .btn-box .btn.pc {display:inline-block;}

    .subscribe .box {width:960px; margin:0 auto 70px; background:none; padding:0;}
    .subscribe .box .inner {position:relative; background:#1E1E1E; padding:48px 70px; margin-bottom:30px; overflow:hidden;}
    .subscribe .box .inner > * {display:inline-block; margin-bottom:0; vertical-align:middle;}     
    .subscribe .box .subs {position:absolute; left:70px; top:50%; transform:translateY(-50%); font-size:2.4rem; padding:0;}
    .subscribe .box .subs .status {position:relative; left:auto; top:auto; transform:none; font-size:1.8rem; margin-bottom:0; line-height:100%; margin-left:20px;}
    .subscribe .box .info {float:right; font-size:2.4rem;}
    .subscribe .box .info span {display:inline-block; font-size:1.6rem; line-height:2.3rem; margin-left:60px; vertical-align:middle;}
    .subscribe .box .btn-xsmall {width:88px; line-height:3.9rem; height:39px; font-size:1.5rem; margin:0 0 0 40px;}
    .subscribe .box .inner + p {text-align:center; font-size:1.6rem;}

    .subscribe .list-head {display:block; border-top:1px solid #252525; font-size:0;}
    .subscribe .list-head span {display:inline-block; padding:20px 30px; text-align:left; box-sizing:border-box; font-size:1.8rem; font-weight:500;}
    .subscribe .list-head span:nth-child(1) {width:120px;}
    .subscribe .list-head span:nth-child(2) {width:calc(100% - 726px);}
    .subscribe .list-head span:nth-child(3) {width:140px; text-align:center;}
    .subscribe .list-head span:nth-child(4) {width:230px;}
    .subscribe .list-head span:nth-child(5) {width:236px;}
    .subscribe .list {text-align:left;}
    .subscribe .list li {padding:20px 0; font-size:0;}
    .subscribe .list li .status {display:inline-block; width:60px; padding:0 30px; vertical-align:middle; font-size:1.8rem;}
    .subscribe .list li.in-use .status {color:#E00A31;}
    .subscribe .list li .info {display:inline-block; width:calc(100% - 120px);}
    .subscribe .list li .info .subs {display:inline-block; width:calc(100% - 606px); font-size:1.8rem; padding:0 30px; margin:0; vertical-align:middle;}
    .subscribe .list li .info .icon-bill {margin:-1px 0 0 20px;}
    .subscribe .list li .info dl {width:auto; display:inline-block;}
    .subscribe .list li .info dl dt {display:none;}
    .subscribe .list li .info dl dd {font-size:1.8rem; padding:0 30px; line-height:2.4rem; margin:0; vertical-align:middle;}
    .subscribe .list li .info dl dd:nth-child(2) {width:140px; text-align:center;}
    .subscribe .list li .info dl dd:nth-child(4) {width:230px;}
    .subscribe .list li .info dl dd:nth-child(6) {width:236px;}

    .subscribe.buy {font-size:0; text-align:center;}
    .subscribe.buy .txt {font-size:2rem; padding:14px 0 70px; }
    .subscribe.buy .txt span {font-size:2.8rem; padding-bottom:14px;}
    .subscribe.buy .box {display:inline-block; width:390px; padding:36px 20px 20px; margin:0;}
    .subscribe.buy .box + .box {margin-left:40px;}
    .subscribe .box .subs {font-size:2.6rem; position:relative; left:auto; top:auto; transform:none;}
    .subscribe.buy .box .info {float:initial; font-size:2rem; margin:34px 0 49px;}
    .subscribe.buy .list-tit {margin-top:90px; text-align:left;}
    .subscribe.buy .dot-list {text-align:left;}

    .list.text li a {font-size:0; padding:30px 0;}
    .list.text li a:before {content:none;}
    .list.text li .tit {width:calc(100% - 120px); font-size:1.8rem; font-weight:400; max-height:2rem; line-height:2rem; -webkit-line-clamp:1; padding:0; vertical-align:middle;}
    .list.text li .date {position:absolute; right:0; top:50%; transform:translateY(-50%); width:120px; font-size:1.6rem; text-align:right; margin:0; line-height:2rem; vertical-align:middle;}

    .pagination {display:block;}

    .list.text.accordion li {padding:0;}
    .list.text.accordion li.oepn {padding:0 0 26px;}
    .list.text.accordion li .tit {padding:26px 40px 26px 0;}
    .list.text.accordion .tit:before {width:18px; height:18px; background-size:auto 18px; margin-top:-9px;}
    .list.text.accordion li.open .tit:before {margin-top:-2px;}
    .list.text.accordion li.open .tit {padding:26px 40px 12px 0;}
    .list.text.accordion .conts {font-size:1.6rem; padding:0 40px 0 0;}

    .qna .txt-box {padding:30px 40px;}
    .qna .txt-box p {font-size:1.6rem; line-height:2.6rem;}    
    section.qna .btn-box {display:block; width:100%; text-align:right;}
    .qna .btn-red {width:130px;}
    .qna h2 {font-size:2.4rem; margin-bottom:20px;}
    .qna .list.text .tit {width:calc(100% - 200px);}
    .qna .list.text .date {position:absolute; right:0; top:50%; transform:translateY(-50%); width:90px; text-align:right;}
    .qna .list.text .status {position:absolute; right:120px; top:50%; transform:translateY(-50%); text-align:center; width:50px;}

    .qna h3 {margin-top:30px; padding-top:30px;}
    .qna table + p {font-size:1.6rem;}
    .qna input + label {font-size:2rem; padding:24px 0;}

    table {margin-bottom:20px;}
    p + table {margin-top:20px;}

    .main-list-wrap {padding:0 60px;}
    .main-list-wrap .swiper-button-next, 
    .main-list-wrap .swiper-button-prev {display:block;}

    section.terms h3 {font-size:2.4rem; margin-bottom:30px;}
    section.terms .txt {font-size:1.6rem; line-height:2.2rem;}
}


@media only screen and (min-width:1280px) {
    .inner {padding:0 20px;}
    header .btn-util-menu {right:20px;}
    #nav a.search {right:84px;}

    footer .inner {padding:0 58px;}
    footer .logo {width:150px; margin:0 180px 0 0;}
    footer .info-wrap {width:440px;}
    footer .sns-list {right:58px;}

    .main-list ul li {width:275px;}
    .main-list ul li + li {margin-left:40px;}

    .subscribe .list-head span:nth-child(1) {width:150px;}
    .subscribe .list-head span:nth-child(2) {width:calc(100% - 846px);}
    .subscribe .list-head span:nth-child(3) {width:170px}
    .subscribe .list-head span:nth-child(4) {width:260px;}
    .subscribe .list-head span:nth-child(5) {width:256px;}    
    .subscribe .list li .status {width:90px;}
    .subscribe .list li .info .subs {width:calc(100% - 696px);}
    .subscribe .list li .info {display:inline-block; width:calc(100% - 150px);}
    .subscribe .list li .info dl dd:nth-child(2) {width:170px;}
    .subscribe .list li .info dl dd:nth-child(4) {width:260px;}
    .subscribe .list li .info dl dd:nth-child(6) {width:256px;}    
}