@charset "utf-8";

html {width:100%; font-size:10px; line-height:2.6rem;}
html.lock {height:100%; overflow:hidden;}
body {width:100%; background-color:#0D0D0D; color:#fff; font-size:1.4rem; line-height:2rem;}
#container {padding:46px 0 80px;}
#contents,
.contents {padding:20px;}

img {width:100%;}
.blind {font-size:0; width:0px; height:0px; overflow:hidden;}
.txt-red {color:#E00A31;}
.txt-gray {color:#868686;}
.fs-12 {font-size:1.2rem; line-height:1.4rem;}
.bg-gray {background:#1E1E1E;}

.no-pd {padding:0 !important;}
.pb-0 {padding-bottom:0 !important;}
.pl-20 {padding-left:20px !important;}
.mt-20 {margin-top:20px !important;}

.has-brt {border-top:1px solid #252525; padding-top:20px;}

.btn {width:100%; background:#3D3D3D; border-radius:4px; line-height:4.4rem; height:44px; padding:0 12px; font-size:1.5rem;}
.btn + .btn {margin-top:10px;}
.btn.selected {background:#E00A31;}
.btn-red {background:#E00A31;}
.btn-small {width:100px; flex:none !important;}
.btn-xsmall {width:auto;}
.btn-group {display:flex;}
.btn-group .btn {flex:1;}
.btn-group .btn + .btn {margin-top:0; margin-left:10px;}
.btn-box {margin:20px 0 14px;}
.btn-box.fix-btm {position:fixed; width:100%; left:0; bottom:0; padding:14px 20px; margin:0; background:#0D0D0D;}

.btn-util-menu {font-size:0; width:24px; height:24px; background:url('../images/btn_menu.png') no-repeat; background-size:100% auto;}
.btn-back {font-size:0; width:24px; height:24px; background:url('../images/icons.png') 0 0 no-repeat; background-size:auto 80px;}
.btn-play {font-size:0; width:53px; height:50px; background:url('../images/icons.png') 0 -26px no-repeat; background-size:auto 80px;}
.btn-search {width:20px; height:20px; font-size:0; background:url('../images/icons.png') -52px -1px no-repeat; background-size:auto 80px;}
.btn-del {width:12px; height:12px; font-size:0; background:url('../images/icons.png') -103px -27px no-repeat; background-size:auto 80px;}
.btn-show-pw {position:absolute; color:#868686; right:14px; top:50%; transform:translateY(-50%); background:#000; padding:0 14px;}
.btn-close {font-size:0; width:24px; height:24px; background:url('../images/icons.png') -24px 0px no-repeat; background-size:auto 80px;}
.icon-play {display:inline-block; width:11px; height:14px; background:url('../images/icons.png') -117px -25px no-repeat; background-size:auto 80px; vertical-align:baseline; margin-right:10px;}
.icon-bill {display:inline-block; width:16px; height:16px; background:url('../images/icons.png') -111px -3px no-repeat; background-size:auto 80px; vertical-align:middle; font-size:0;}

table {vertical-align:top; text-align:left; font-size:1.2rem; margin-bottom:14px;}
table th {background:#1E1E1E; padding:12px 15px; border:1px solid #3D3D3D;}
table td {padding:12px 15px; border:1px solid #3D3D3D;}
caption {font-size:0; width:0; height:0; overflow:hidden;}

.ipt-row {position:relative;}
.ipt-row + .ipt-row {margin-top:16px;}
.ipt-row > label,
.label {display:block; margin-bottom:10px; font-size:1.6rem; font-weight:500; color:#fff;}
.ipt-row.flex {display:flex;}
.ipt-row.flex .ipt-row {flex:1; vertical-align:middle; padding:0 5px;}
.ipt-row.flex .ipt-row:first-child {padding:0 5px 0 0;}
.ipt-row.flex .ipt-row:last-child {padding:0 0 0 5px;}
.ipt-row.flex .ipt-row + .ipt-row {margin-top:0;}
.ipt-group .ipt-row + .ipt-row {margin-top:10px;}
.ipt-row.with-btn .ipt-txt {width:calc(100% - 94px); margin-right:10px; float:left;}
.ipt-row.with-btn .btn {width:84px;}
.ipt-noti {color:#868686; line-height:1.8rem; margin-top:6px;}
p.error {color:#E00A31;}

.ipt-txt {width:100%; border:none; background:#000; border:1px solid #252525; line-height:4.2rem; font-size:1.6rem; color:#fff; padding:0 14px;}
.ipt-txt[type="password"] {padding:0 74px 0 14px;}
.ipt-txt.error {border-color:#E00A31;}

input[type='checkbox'],
input[type='radio'] {position:absolute; left:0; top:0; z-index:-1; width:0; height:0; opacity:0; visibility:hidden;}
input[type='checkbox'] + label,
input[type='radio'] + label {display:inline-block; line-height:2rem; height:20px; padding:10px 0; margin-bottom:0; font-weight:400;}
input[type='checkbox'] + label:before {content:''; display:inline-block; width:18px; height:18px; background:url('../images/icon_checkbox.png') 0 0 no-repeat; background-size:auto 18px; vertical-align:middle; margin-right:4px;}
input[type='checkbox']:checked + label:before {background-position:-18px 0;}
input[type='radio'] + label:before {content:''; display:inline-block; width:18px; height:18px; background:url('../images/icon_radio.png') 0 0 no-repeat; background-size:auto 18px; vertical-align:middle; margin-right:6px;}
input[type='checkbox'].type2:checked + label:before,
input[type='radio']:checked + label:before {background-position:-18px 0;}
input[readonly] {background:#252525;}
.ipt-row label + input + label {margin-left:16px;}
.ipt-row input[type='checkbox'] + label, 
.ipt-row input[type='radio'] + label {padding:4px 0 10px;}
input[type='checkbox'].btn + label,
input[type='radio'].btn + label {width:100%; background:#3D3D3D; border-radius:4px; line-height:4.4rem; height:44px; padding:0 12px; font-size:1.5rem; box-sizing:border-box; margin-bottom:10px; text-align:center; font-weight:700;}
input[type='checkbox'].btn + label:before,
input[type='radio'].btn + label:before {content:none;}
input[type='checkbox']:checked.btn + label,
input[type='radio']:checked.btn + label {background:#fff; color:#000;}
input[type='checkbox'].type2 + label:before {content:''; display:inline-block; width:18px; height:18px; background:url('../images/icon_check.png') 0 0 no-repeat; background-size:auto 18px; vertical-align:middle; margin-right:4px;}


.list {font-size:0;}
.list a {display:block; width:100%; height:100%;}
.list .tit {display:block; display:-webkit-box; line-height:1.8rem; height:36px; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; font-size:1.5rem; font-weight:500; margin-top:10px;}
.list .date {display:block; font-size:1.2rem; line-height:1.2rem; color:#868686; margin-top:6px;}
.list.card li {display:inline-block; width:calc((100% - 20px) / 2); margin-bottom:40px; vertical-align:top;}
.list.card li:nth-child(2n) {margin-left:20px;}
.list.one-card li + li {margin-top:30px;}
.list.one-card .tit {height:20px; -webkit-line-clamp:1;}
.list.horizontal li + li {margin-top:14px;}
.list.horizontal li a {overflow:hidden; position:relative;}
.list.horizontal img {float:left; width:144px;}
.list.horizontal .info {float:left; width:calc(100% - 154px); vertical-align:middle; position:absolute; right:0; top:50%; transform:translateY(-50%);}
.list.horizontal .tit {height:auto; max-height:40px; margin-top:0;}

.list-tit {padding-top:10px; font-size:1.3rem; font-weight:700; margin-top:10px;}
.list-tit + ul {margin-top:10px;}
.dot-list li {position:relative; padding-left:16px;}
.dot-list li:before {content:''; display:inline-block; width:3px; height:3px; background:#B6B6B6; border-radius:3px; position:absolute; left:7px; top:8px;}

.flag {display:inline-block; color:#E00A31; border:1px solid #E00A31; padding:5px 7px; margin-bottom:10px; font-size:1.3rem; line-height:1.3rem;}
.flag + .flag {margin-left:6px;}

h1 {font-size:1.8rem; font-weight:500;}
h2 {font-size:1.6rem; font-weight:700; line-height:1.8rem; margin:20px 0 10px;}
h2:first-child {margin:0 0 10px;}
h3 {font-size:1.4rem; margin:30px 0 14px;}
h3:first-child {margin:0 0 14px;}
section + section {margin-top:50px;}
section h2 {margin:0 0 20px; font-size:1.8rem;}

header {position:fixed; left:0; top:0; width:100%; height:46px; background:#0D0D0D; z-index:9;}
.menu-header {position:absolute; left:0; top:0; width:100%; height:46px; background:#0D0D0D;}
header .logo {height:100%; text-align:center;}
header .logo:after {content:''; display:inline-block; height:100%; vertical-align:middle;}
header .logo img {width:132px; height:auto; vertical-align:middle;}
header h1,
.menu-header .tit {font-size:1.8rem; text-align:center; line-height:4.6rem;}
header .btn-util-menu {position:absolute; right:20px; top:50%; transform:translateY(-50%);}
header .btn-back {position:absolute; left:20px; top:50%; transform:translateY(-50%);}
.menu-header .btn-close {position:absolute; right:20px; top:50%; transform:translateY(-50%);}

#menu {position:fixed; right:-100%; top:0; width:100%; height:100%; background:#0D0D0D; z-index:99; transition:all .3s; overflow-y:scroll;}
#menu.open {right:0;}
#menu .contents {padding-top:46px;}
#menu .account-util {padding:0 0 30px;}
#menu .account-util .txt {text-align:left; padding-top:0; color:#fff;}
#menu .account-util button {margin:20px 0 0;}
#menu .account-util .name {text-align:left; color:#fff; margin-top:16px; font-size:1.6rem;}
#menu .account-util .name em {font-size:2rem;}
#menu .account-util .subs-box {background:#252525; margin-top:16px; font-size:1.4rem; text-align:left; padding:15px 14px;}
#menu .account-util .subs-box dt {display:inline-block; font-weight:700; padding-right:14px;}
#menu .account-util .subs-box dd {display:inline-block; width:calc(100% - 85px); text-align:right;}
#menu .links a {position:relative; display:block; padding:15px 0; font-size:1.6rem; line-height:1.6rem;}
#menu .links a:after {content:''; position:absolute; right:0; top:50%; transform:translateY(-50%); width:12px; height:12px; background:url('../images/icons.png') -77px -5px no-repeat; background-size:auto 80px;}

#nav {position:fixed; bottom:0; left:0; display:flex; justify-content:space-around; align-items:center; width:100%; height:80px; background-color:#0D0D0D; z-index:9;}
#nav a {display:inline-block; width:46px; height:46px; color:#868686; text-align:center;}
#nav a:before {content:''; display:block; width:26px; height:24px; margin:0 auto; background:url('../images/icon_nav.png') no-repeat; background-size:auto 48px; margin-bottom:6px;}
#nav a.genre:before {background-position:-26px 0;}
#nav a.live:before {background-position:-52px 0;}
#nav a.search:before {background-position:-78px 0;}
#nav a.selected {color:#E00A31;}
#nav a.selected:before {background-position:0 -24px;}
#nav a.selected.genre:before {background-position:-26px -24px;}
#nav a.selected.live:before {background-position:-52px -24px;}
#nav a.selected.search:before {background-position:-78px -24px;}

footer {border-top:1px solid rgba(255,255,255,.1); padding:30px;}
footer .logo {width:126px; margin-bottom:20px;}
footer .links a {display:inline-block; padding:0 13px; border-left:1px solid #fff; line-height:1.4rem;}
footer .links a:first-child {padding:0 13px 0 0; border-left:0;}
footer address {margin-top:10px; color:#555; font-size:1.3rem; line-height:1.9rem;}
footer .sns-list {margin-top:20px;}
footer .sns-list p {color:#868686; font-size:1.3rem; font-weight:500;}
footer .sns-list ul {width:184px; font-size:0;}
footer .sns-list ul li {display:inline-block; width:36px; height:36px; margin:10px 10px 0 0;}
footer .sns-list ul li a {display:block; width:100%; height:100%; background:url('../images/icon_sns.png') no-repeat; background-size:auto 72px;}
footer .sns-list ul li a.fb {background-position:-36px 0;}
footer .sns-list ul li a.insta {background-position:-72px 0;}
footer .sns-list ul li a.tw {background-position:-108px 0;}
footer .sns-list ul li a.nblog {background-position:0 -36px;}
footer .sns-list ul li a.ntv {background-position:-36px -36px;}
footer .sns-list ul li a.npost {background-position:-72px -36px;}
footer .sns-list ul li a.pod {background-position:-108px -36px;}

.slider-wrap {position:relative;}
.main-slider {position:absolute; bottom:0; left:0; width:100%; z-index:2; background:linear-gradient(179.95deg, rgba(0, 0, 0, 0.4) 9.26%, #000 93.81%);}
.main-slider .slide-info {width:100%; padding:20px 35.9% 20px 20px;}
.main-slider .slide-info .tit {font-size:2.4rem; line-height:2.8rem; margin-bottom:6px;}
.main-slider .slide-info .txt {display:block; display:-webkit-box; height:40px; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; color:#B6B6B6;}
.main-slider .slide-info .btn {position:absolute; right:20px; bottom:20px; font-size:1.5rem; font-weight:700;}
.main-slider .swiper-pagination {top:0; bottom:auto;}
.main-slider .swiper-pagination-bullet {background-color:#fff; opacity:.5; margin:0 3px; width:4px; height:4px;}
.main-slider .swiper-pagination-bullet-active {background-color:#E00A31; opacity:1;}

#contents.main {padding:20px 0 20px 20px; overflow:hidden;}
#contents.main .bann-promo {margin:20px 20px 20px 0;}
.bann-promo {margin:20px 0; display:block;}
.main-list:first-child {margin:40px 0 50px;}
.main-list {margin:50px 0;}
.main-list h2 {padding-right:20px;}
.btn-txt {font-size:1.4rem; font-weight:400; color:#868686; float:right; vertical-align:middle;}
.main-list ul {white-space:nowrap; font-size:0; overflow-x:auto; overflow-y:hidden; -ms-overflow-style:none;}
.main-list ul::-webkit-scrollbar{display:none;}
.main-list ul li {display:inline-block; width:165px; margin-right:14px; vertical-align:top;}
.main-list ul li a {display:block;}
.main-list ul li .tit {display:block; font-size:1.6rem; font-weight:500; white-space:break-spaces; padding-top:10px;}

.no-conts {background:#1E1E1E; padding:28px 0; text-align:center; font-weight:500;}
.no-result {text-align:center; font-size:1.5rem; line-height:1.8rem; color:#B6B6B6;}

.preview-area {position:relative;}
.preview-area:before {content:''; position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,.7); z-index:1;}
.preview-area:after {content:'미리보기'; position:absolute; left:20px; top:20px; z-index:3; font-size:1.2rem;}
.preview-area.no-preview:after {content:none;}
.preview-area .preview {width:100%;}
.preview-area .btn-play {position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); z-index:2;}
.show {margin-top:20px;}
.show .top {font-size:0; border-bottom:1px solid #252525; padding-bottom:20px;}
.show .top img {display:inline-block; width:90px; margin-right:14px;}
.show .top .txt {display:inline-block; width:calc(100% - 104px);}
.show .top .flag {font-size:1.2rem; line-height:1.2rem;}
.show .top .tit {font-size:2rem; font-weight:700; line-height:2.4rem; display:-webkit-box; height:48px; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis;}
.show .top .price {display:inline-block; font-size:1.4rem; margin-top:6px; color:#B6B6B6;}
.show .info {margin-top:20px;}
.type span {display:inline-block; width:30px; height:30px; vertical-align:middle; background:url('../images/icon_types.png') no-repeat; background-size:auto 30px; font-size:0;}
.type span + span {margin-left:4px;}
.type .all {background-position:0 0;}
.type .subject {background-position:-30px 0;}
.type .violence {background-position:-60px 0;}
.type .horror {background-position:-90px 0;}
.show .info .type + dl {margin-top:14px;}
.show .info dl {font-size:0; color:#B6B6B6;}
.show .info dl dt {display:inline-block; width:70px; font-size:1.4rem; font-weight:700; margin-right:10px; margin-bottom:10px;}
.show .info dl dd {display:inline-block; width:calc(100% - 80px); font-size:1.4rem; margin-bottom:10px;}
.show .info dl dt.desc {display:block; margin-top:10px;}
.show .info dl dt.desc + dd {display:block; width:100%;}

.ipt-search {position:relative; margin-bottom:20px;}
.ipt-search .ipt-txt {padding-left:44px;}
.ipt-search .btn-search {position:absolute; left:14px; top:50%; transform:translateY(-50%); z-index:1;}
.ipt-search .btn-del {display:none; position:absolute; right:14px; top:50%; transform:translateY(-50%); z-index:1;}

.account-util {padding:24px 0 30px; text-align:center; color:#868686; font-size:0; border-bottom:1px solid #252525; margin-bottom:20px;}
.account-util > a {color:#868686; font-size:1.5rem; line-height:1.5rem; margin-right:12px;}
.account-util > a + a:before {content:''; display:inline-block; width:1px; height:14px; background:#868686; margin-right:12px;}
.account-util p {margin-top:20px; font-size:1.4rem;}
.account-util p a {display:inline-block; font-size:1.5rem; color:#fff; text-decoration:underline; vertical-align:text-top; padding-left:2px;}

.join-agree {font-size:1.2rem; line-height:1.4rem;}
.join-agree table {margin:14px 0;}
.join-agree .btn-box {margin-top:30px; border-top:1px solid #3D3D3D; padding:20px 0 10px;}
.txt-box {padding:14px 0; text-align:right; font-size:1.4rem; line-height:1.8rem;}
.txt-box label {padding:0; margin-top:6px;}
.txt-box label + input + label {margin-left:20px;}
.txt-box.bg-gray {padding:14px 16px; font-size:1.3rem; line-height:1.8rem;}
.txt-box.bg-gray label {padding:0; font-size:1.6rem;}
.txt-box p {text-align:left;}
.terms-box {border:1px solid #3D3D3D;}
.terms-box .terms {width:100%; height:195px; overflow-y:scroll;}
.terms-box .summary {border-top:1px solid #3D3D3D;}
.terms-box pre {white-space:pre-wrap; padding:14px; font-size:1.2rem; line-height:1.4rem;}
.terms-box button {font-size:1rem; line-height:1rem; line-height:2.6rem; height:26px; font-weight:500;}
.ipt-row + .txt-box {margin-top:20px;}

.subscribe .box {background:#1E1E1E; text-align:center; padding:30px; margin-bottom:20px;}
.subscribe .box .status {display:inline-block; font-size:1.6rem; font-weight:500; margin-bottom:15px;}
.subscribe .box .subs {font-size:2.2rem; font-weight:500; margin-bottom:14px;}
.subscribe .box .info {font-size:1.8rem; margin-bottom:10px;}
.subscribe .box .info span {display:block; font-size:1.3rem; color:#868686; margin-top:4px;}
.subscribe .box .btn-xsmall {font-size:1rem; font-weight:500; line-height:2.6rem; height:26px; margin-bottom:12px;}
.subscribe .box .txt {font-size:1.2rem; text-align:left; color:#868686;}
.subscribe .box .txt em {text-decoration:underline; color:#fff;}
.subscribe .list {border-top:1px solid #252525;}
.subscribe .list li {color:#868686; border-bottom:1px solid #252525; padding:20px 10px; font-size:0;}
.subscribe .list li.in-use {color:#fff;}
.subscribe .list li .status {font-size:1.6rem; display:inline-block; width:55px; vertical-align:top; padding-right:10px;}
.subscribe .list li .info {display:inline-block; width:calc(100% - 65px);}
.subscribe .list li .info .subs {font-size:1.6rem; font-weight:500; margin-bottom:10px;}
.subscribe .list li .info .icon-bill {margin:-1px 0 0 10px;}
.subscribe .list li .info dl {line-height:1.4rem;}
.subscribe .list li .info dt {font-size:1.2rem; display:inline-block; width:55px; padding-right:10px; margin-bottom:6px; vertical-align:top;}
.subscribe .list li .info dd {font-size:1.2rem; display:inline-block; width:calc(100% - 65px); margin-bottom:6px;}
.subscribe.buy .txt {text-align:center; padding:10px 0 30px; color:#B6B6B6;}
.subscribe.buy .txt span {display:block; font-size:1.8rem; font-weight:700; color:#fff; padding-bottom:10px;}
.subscribe.buy .box {margin:0 20px 20px; border:1px solid #3D3D3D;}
.subscribe.buy .box .info {margin:17px 0 20px; color:#B6B6B6;}
.subscribe .dot-list {font-size:1.2rem; line-height:1.6rem; color:#B6B6B6;}

.info-box {width:calc(100% + 40px); background:#1E1E1E; padding:14px 20px; font-size:0; transform:translateX(-20px); margin-bottom:30px;}
.info-box > li + li { margin-top:20px;}
.info-box .tit {display:block; font-size:1.4rem; font-weight:500; color:#868686; margin-bottom:6px; line-height:1.4rem;}
.info-box .txt {display:block; font-size:1.6rem;}
.info-box li.half {display:inline-block; width:50%;}
p.info-box {font-size:1.6rem;}
.info-box .sub-txt {font-size:1.3rem; color:#868686;}

* + .chk-list {margin-top:14px;}
.chk-list {font-size:1.4rem;}
.chk-list .btn-txt {color:#fff; font-size:1.1rem;}
.chk-list li + li {margin-top:14px;}
.chk-list input[type='checkbox'] + label {padding:0;}
.chk-list input[type='checkbox'].type2 + label:before {margin-right:10px;}